<h1>Log a New Meal</h1>

<%= form_with(model: @user_meal, local: true) do |f| %>
  <div>
    <%= f.label :recipe_id, "Choose a Recipe" %>
    <%= f.collection_select :recipe_id, @recipes, :id, :name, prompt: "Select a recipe" %>
  </div>

  <div>
    <%= f.label :servings %>
    <%= f.number_field :servings, value: 1 %>
  </div>

  <h3>Or Add Custom Ingredients</h3>
  <%= f.fields_for :user_meal_ingredients do |umi_form| %>
    <div style="margin-bottom: 10px;">
      <%= umi_form.collection_select :ingredient_id, @ingredients, :id, :name, prompt: "Select an ingredient" %>
      <%= umi_form.number_field :quantity, placeholder: "Quantity" %>
    </div>
  <% end %>

  <%= f.submit "Save Meal" %>
<% end %>

<%= link_to "Back to Meals", user_meals_path %>
