<h1>Welcome to My App</h1>

<% if user_signed_in? %>
  <p>Hello, <%= current_user.email %>!</p>
  <p>
    <%= link_to "Search Recipes", recipes_path, class: "btn btn-primary" %>
  </p>
  <p>
    <%= link_to "Go to Expiration Date Tracker", items_path, class: "btn btn-primary" %>
  </p>
  <p>
    <%= link_to "Go to Calorie Tracker", user_meals_path, class: "btn btn-primary" %>
  </p>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path %>
<% end %>
